@model IEnumerable<Hospital_Ejemplo.Models.Empleados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados del Hospital Yorkin</h2>

<p>
    @Html.ActionLink("Registro Nuevo", "Create")
</p>
<table class="table table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_alta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_departamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_alta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_departamento)
        </td>
        <td>
            <a href="@Url.Action("Edit","Empleado", new {ID_Empleado = item.ID_Empleado})"><i class="fa fa-edit fa-lg"></i></a>
            <a href="@Url.Action("Delete","Empleado", new {ID_Empleado = item.ID_Empleado})" onclick="return confirm('Se eliminara el registro seleccionado. \r Desea continuar?');"><i class="fa fa-trash-o fa-lg text-danger"></i></a>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
